light control/flows.json
[{"id":"62b2aa7d.082744","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8b08f639.4a4828","type":"rpi-gpio out","z":"62b2aa7d.082744","name":"","pin":"16","set":"","level":"0","freq":"","out":"out","x":480,"y":220,"wires":[]},{"id":"c84d61d8.e7e33","type":"debug","z":"62b2aa7d.082744","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":300,"wires":[]},{"id":"7c10eff0.bd681","type":"ui_button","z":"62b2aa7d.082744","name":"","group":"8b92283c.ebd578","order":0,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":220,"wires":[["8b08f639.4a4828","c84d61d8.e7e33"]]},{"id":"1b83ce1.c966d32","type":"ui_button","z":"62b2aa7d.082744","name":"","group":"8b92283c.ebd578","order":1,"width":0,"height":0,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":300,"wires":[["8b08f639.4a4828","c84d61d8.e7e33"]]},{"id":"8b92283c.ebd578","type":"ui_group","name":"LED Controll ","tab":"40e65384.2c244c","order":2,"disp":true,"width":"6","collapse":false},{"id":"40e65384.2c244c","type":"ui_tab","name":"LED ON OFF","icon":"LED ON OFF","disabled":false,"hidden":false}]