room temperature control/flows.json
[{"id":"e29e3d7.716ecc","type":"inject","z":"fdcfd270.a7f3c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":220,"wires":[["56a4ea5f.1fe0a4"]]},{"id":"71af88e8.487998","type":"debug","z":"fdcfd270.a7f3c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":220,"wires":[]},{"id":"56a4ea5f.1fe0a4","type":"rpi-dht22","z":"fdcfd270.a7f3c","name":"DHT11","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"23","x":500,"y":220,"wires":[["71af88e8.487998","8bc670c4.b7321","1f5b2db6.da7242"]]},{"id":"24bd4367.d7480c","type":"debug","z":"fdcfd270.a7f3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":380,"wires":[]},{"id":"745909d0.602988","type":"debug","z":"fdcfd270.a7f3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":460,"wires":[]},{"id":"8bc670c4.b7321","type":"function","z":"fdcfd270.a7f3c","name":"Temperature","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":380,"wires":[["24bd4367.d7480c","1b35bd09.90b1e3"]]},{"id":"1f5b2db6.da7242","type":"function","z":"fdcfd270.a7f3c","name":"Humidity","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":460,"wires":[["745909d0.602988","af44aa50.8e1bc8"]]},{"id":"1b35bd09.90b1e3","type":"ui_gauge","z":"fdcfd270.a7f3c","name":"","group":"62efc748.efcd78","order":0,"width":"0","height":"0","gtype":"gage","title":"Temerature","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":320,"wires":[]},{"id":"af44aa50.8e1bc8","type":"ui_gauge","z":"fdcfd270.a7f3c","name":"","group":"62efc748.efcd78","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":540,"wires":[]},{"id":"62efc748.efcd78","type":"ui_group","name":"Humidity and Temerature","tab":"12abe051.f3712","order":1,"disp":true,"width":"6","collapse":false},{"id":"12abe051.f3712","type":"ui_tab","name":"Parking Availability","icon":"dashboard","disabled":false,"hidden":false}]